{% load widget_tweaks %} 
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content" enctype="multipart/form-data">
  <div class="modal-header">
    <h5 class="modal-title">Faculty Information</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <!-- Faculty Details Row -->
    <div class="row mb-3">
      <div class="col">
        <label for="{{ form.first_name.id_for_label }}" class="form-label-fname">First Name</label>
        {% render_field form.first_name class="form-control" placeholder="First Name" %}
        <div class="invalid-feedback">{{ form.first_name.errors|first }}</div>
      </div>
      <div class="col">
        <label for="{{ form.middle_name.id_for_label }}" class="form-label-midname">Middle Name</label>
        {% render_field form.middle_name class="form-control" placeholder="Middle Name" %}
        <div class="invalid-feedback">{{ form.middle_name.errors|first }}</div>
      </div>
      <div class="col">
        <label for="{{ form.last_name.id_for_label }}" class="form-label-lname">Last Name</label>
        {% render_field form.last_name class="form-control" placeholder="Last Name" %}
        <div class="invalid-feedback">{{ form.last_name.errors|first }}</div>
      </div>
      <div class="col">
        <label for="{{ form.faculty_id.id_for_label }}" class="form-label-id">Faculty ID</label>
        {% render_field form.faculty_id class="form-control" placeholder="Faculty ID" %}
        <div class="invalid-feedback">{{ form.faculty_id.errors|first }}</div>
      </div>
      <div class="col">
        <label for="{{ form.gender.id_for_label }}" class="form-label-gender">Gender</label>
        {% render_field form.gender class="form-control" %}
        <div class="invalid-feedback">{{ form.gender.errors|first }}</div>
      </div>
    </div>

  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{% endwith %}
